-e git+https://jonykalavera:05082001@github.com/jonykalavera/python-shotgunorm.git#egg=python-ShotgunORM
django-tastypie==0.12.1
python-dateutil==2.2
python-mimeparse==0.1.4
git+https://jonykalavera:05082001@github.com/shotgunsoftware/python-api.git#egg=python-api
six==1.8.0
