<!DOCTYPE html>
<html>
<head>
	<title>Django Shotgun Tools</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
</head>
<body ng-app="Shotgun">
<style type="text/css">
body{
    font-family: Helvetica;
}
#versions li {
    list-style: outside none none;
    width: 232px;
    height: 232px;
    float: left;
    padding: 3px;
    margin: 3px;
    border: 1px solid #CCC;
}
#versions img {
    float: left;
}
#versions dl {
    font-size: small;
    float: left;
    margin-left: 6px;
    width: 220px;
}
#versions dd{
    font-weight: bold;
}
</style>
<h1>Django Shotgun Tools Example</h1>
<div id="projects" ng-controller="ProjectsCtrl">
	<h3>Projects</h3>
	<input class="search_field" ng-model="name" type="text" name="project_name"
		ng-keypress="load_projects($event)"/>
	<button class="refresh" ng-click="load_projects($event)" ng-disabled="loading_projects">
		{$ loading_projects ? 'loading...' : 'Search' $}</button>
	<ul>
		<li ng-repeat="project in projects">
			<a href="?project={$ project.id $}">{$ project.name $}</a>
		</li>
	</ul>
</div>
<div id="versions">
	<h2>{{versions_list.0.project.name}} : Versions</h2>
	<ul>
		{% for version in versions_list %}
		<li>
			<a href="{{version.sg_uploaded_movie.url}}">
				<img src="{{version.image}}"
					alt="{{version.code}}"
					title="{{version.code}}">
			</a>
			<dl>
				<dt>Code</dt>
					<dd>{{version.code}}</dd>
				<dt>Artist</dt>
					<dd>{{version.created_by.name}}</dd>
			</dl>
		</li>
		{% endfor %}
	</ul>
</div>
<script type="text/javascript">
	var app = angular.module("Shotgun", []).config(function($interpolateProvider) {
	    $interpolateProvider.startSymbol('{$');
	    $interpolateProvider.endSymbol('$}');
	});

	app.controller("ProjectsCtrl",[ '$scope', '$log', '$http', '$q', function($scope, $log, $http, $q){
		$scope.load_projects = function ($event){
			if(!angular.isUndefined($event) && !angular.isUndefined($event.keyCode) && (!$event.keyCode == 13 || $scope.name.length < 3 )){
				$log.debug("Out")
				return
			}
			// $scope.projects = [];
			$scope.loading_projects = true;

			var url ="/api/v3/project/?format=json&limit=20&order_by=code&sg_status__in=Active|Closed"

			if(!angular.isUndefined($scope.name) && $scope.name != '' && $scope.name.length > 3){
				api_url += "&name__contains="+$scope.name
			}
			var canceler = $q.defer();
			var request = $http.get({url:api_url, timeout:canceler.promise});

			var promise = request.then(
				function( response ) {
					return( response.data );
				},
				function( response ) {
					return( $q.reject( "Something went wrong" ) );
				}
			);

	        request.success(function(data, status, headers, config) {
	            $scope.projects = data.objects;
				$log.debug($scope.projects);
				$scope.loading_projects = false;
	        });
	        request.error(function(data, status, headers, config) {
	        	$log.error(data, status, headers, config);
				//$scope.loading_projects = false;
	        });
			promise.abort = function() {
				canceler.resolve();
			};

		    promise.finally(function() {
				console.info( "Cleaning up object references." );
				responsePromise.abort = angular.noop;
				canceler  = responsePromise = null;
			});
	    }
	    $scope.loading_projects = false;
	    $scope.load_projects();
	}]);
</script>
</body>
</html>